<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OurResto.Properties.Settings.cda68_bd1ConnectionString"
            connectionString="server=cda68.2isa.org;user id=cda68;password=1079cda68;database=cda68_bd1"
            providerName="MySql.Data.MySqlClient" />
        <add name="OurResto.Properties.Settings.FilRouge2ConnectionString"
            connectionString="server=sylph.ignorelist.com;user id=OurResto;password=z76aFEbO8a4e;database=FilRouge2"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>