<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OurResto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OurResto.Properties.Settings.cda68_bd1ConnectionString"
            connectionString="server=cda68.2isa.org;user id=cda68;password=1079cda68;database=cda68_bd1"
            providerName="MySql.Data.MySqlClient" />
        <add name="OurResto.Properties.Settings.FilRouge2ConnectionString"
            connectionString="server=sylph.ignorelist.com;user id=OurResto;password=z76aFEbO8a4e;database=FilRouge2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OurResto.Properties.Settings>
            <setting name="formMenuX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formMenuY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formSalarieX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formSalarieY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formQtPrevX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formQtPrevY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formPlanProdX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formPlanProdY" serializeAs="String">
                <value>-1</value>
            </setting>
        </OurResto.Properties.Settings>
    </userSettings>
</configuration>